body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('./assets/karumalaikandhavelarthirukovil.Background.jpg') !important; */
  /* background-repeat: no-repeat;
  background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-left {
  text-align: left !important;
}
.login-page{
  background-color: #98C7C5 !important;
  height: 100vh !important;
}
.logo_img{
  width: 300px !important;
  height: 200px !important;
}
/* .login-form-container{
  margin: auto !important;
} */
 .register-page{
  background-color: #98C7C5 !important;
  height: 100vh !important;
 }